*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.out
*.pdf
*.run.xml
*.synctex.gz
*.log
.vscode/
tmp/dataset
.idea/
data/dataset/caltech_images.json
data/dataset/SnapshotSerengetiS*.json
.env
__pycache__