[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiofiles = "*"
tqdm = "*"
azure-storage-blob = "*"
python-dotenv = "*"
aiohttp = "*"

[dev-packages]

[requires]
python_version = "3.10"
